
<html style='font-family: Arial'>
<div style="float: left">
<h2>Outgoing Bookings</h2>
<ul>
  <% @outgoing_bookings.each do |booking| %>
    <li><%= Listing.find_by_listing_id(listing_id: booking.listing_id).description%></li>
    <li><%= Listing.find_by_listing_id(listing_id: booking.listing_id).name%></li>
    <li><%= Listing.find_by_listing_id(listing_id: booking.listing_id).price%></li>
    <li><% if booking.confirmed.nil?  %>
            Not confirmed
          <% elsif booking.confirmed == 't' %>
            Confirmed
          <% else %>
            Denied
          <% end %>
          </li>
        <li>Requested Dates: <%= booking.start_date %> to <%= booking.end_date %>
        </li>
     <br>
  <% end%> 
</ul>
</div>


<div style="float: left">
<h2>Incoming Bookings</h2>
<ul>
  <% @incoming_bookings.each do |booking| %>
    <li><%= Listing.find_by_listing_id(listing_id: booking.listing_id).description%></li>
    <li><%= Listing.find_by_listing_id(listing_id: booking.listing_id).name%></li>
    <li><%= Listing.find_by_listing_id(listing_id: booking.listing_id).price%></li>
    <% if booking.confirmed.nil?  %>
          <div>Booking not yet confirmed</div>
          <form>
            <button type="submit" formaction="/noodle">Accept</button>
            <button>Deny</button>
          </form>
        <% elsif booking.confirmed == 't' %>
          Confirmed
        <% else %>
          Denied
        <% end %>
        <li>
        Requested Dates: <%= booking.start_date %> to <%= booking.end_date %>
        </li>
      <br>
  <%end%> 
</ul> 
</div>
</html>


