<ul>
  <% @outgoing_bookings.each do |booking| %>
    <li><%= booking.confirmed || 'Not confirmed' %></li>
    <li><%= booking.start_date %></li>
    <li><%= booking.end_date %></li>
    <br>
  <% end%> 
</ul>


<ul>
  <% @incoming_bookings.each do |booking| %>
    <li><%= booking.start_date%></li>
    <li><%= booking.end_date%></li>
  <%end%> 
<%</ul> 